* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a{
  text-decoration: none;
  color: unset;
}

ul,
ol {
  list-style: none;
}

body {
  background-color: black;
}

header {
  height: 60px;
  background-color: orange;
  justify-content: center;
  display: flex;
}

footer {
  margin-top: 30px;
  height: 100px;
  background-color: orange;
  display: flex;
  font-weight: bold;
}

main {
  min-height: 100vh;
  padding: 0 300px;
}

.navigation-list {
  display: flex;
  height: 100%;
  width: max-content;
  align-items: center;
}

.navigation-list > li {
  padding: 10px 20px;
  font-size: 20px;
  text-align: center;
  height: max-content;
  transition: all 150ms ease-in;
  font-weight: bold;
}

.navigation-list > li:hover {
  cursor: pointer;
  font-size: 25px;
}

.about-me,
.skills {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}

.about-me_header,
.skills_header {
  font-size: 30px;
  font-weight: bold;
  padding: 10px 300px;
  white-space: nowrap;
  border: 5px dashed orange;
  border-radius: 16px;
}

footer .left,
.right {
  width: 100%;
  height: 100%;
}

footer .left {
  flex-direction: column;
  display: flex;
  justify-content: center;
  padding-left: 10px;
}

footer .left > span {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 17px;
}

footer .left > ul > li {
  padding: 2px 0;
}

footer .left > ul > li > span {
  font-weight: initial;
}

footer .right {
  padding-right: 10px;
  display: flex;
  justify-content: right;
  align-items: flex-end;
}

footer .by > span {
  font-weight: initial;
}

footer .by {
  margin-bottom: 5px;
}

.about-me_image {
  height: 500px;
  width: 500px;
  overflow: hidden;
  border-radius: 16px;
}

.about-me_image > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: center;
  transition: 200ms all ease;
}

.about-me_image > img:hover {
  transform: scale(1.1);
}

.about-me_desc > p {
  text-align: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 15px 0;
  font-size: 20px;
}

.about-me > div:not(:last-child) {
  margin-bottom: 20px;
}

.skills > ul {
  margin-top: 30px;
}

.skills > ul li {
  display: flex;
  width: 110px;
  justify-content: space-between;
  align-items: center;
}

.skills > ul li:not(:last-child) {
  margin-bottom: 6px;
}

.skills > ul li span {
  width: max-content;
}
